// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300');
$font-header: 'Reem Kufi', sans-serif;
$font-body: 'Roboto', sans-serif;
$font-large: 25px;
$font-medium: 20px;


// Colors 
$white: #fff;
$green: #1EBEA5;
$yellow: #FEE74C;
$pink: #FC3271;
$black: #4d5957;
$gray: #C3C4C5;
