@import url("https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300");
#AreaChart {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: calc(100% - 95px) !important;
  margin-top: 85px !important; }
